@import "compass/reset";
@import "compass/css3/box-sizing";
@import "bootstrap";

/* Twitter Colours - https://about.twitter.com/press/brand-assets */
$primary: #55acee;
$secondary-1: #292f33;
$secondary-2: #66757f;
$secondary-3: #8899a6;
$secondary-4: #ccd6dd;
$secondary-5: #e1e8ed;
$primary-text: #f5f8fa;
$input-bg: #eeeeee;
$input-border: #e2e2e2;
$heading-color: #8899a6;

/* GoogleMaps remove attribution */
a[href^="http://maps.google.com/maps"] {
    display: none !important;
}

.gmnoprint a, .gmnoprint span {
    display: none;
}

.gmnoprint div {
    background: none !important;
}

input[type="text"] {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.loader {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    div.inner {
        line-height: 600px;
        text-align: center;
    }
}

.ns-box {
    z-index: 9999;
    color: #fff;
}

.stop {
    background-color: #CB2E25;
}

.start {
    background-color: #58B957;
}

.geo {
    background-color: #46769D;
}

/* Trend / tweet overlay listing */
.trendTweetsWrapper {
    ul {
        max-height: 350px;
        height:auto;
        overflow: scroll;
        li {
            padding: 1em;
            border: 1px solid #e2e2e2;
            background: #f2f2f2;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

span.detail {
    display: block;
}

button:focus {
    outline: none !important;
}

body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
}

h1 {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Paragraph & Typographic */

p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

/* Links */

a {
    color: #1abc9c;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
    &:hover, &:focus {
        color: #7b7b7b;
        text-decoration: none;
        outline: 0;
    }
    &:before, &:after {
        -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
        -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
        -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
        -o-transition: color 0.1s ease-in, background 0.1s ease-in;
        transition: color 0.1s ease-in, background 0.1s ease-in;
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    text-transform: uppercase;
    margin-bottom: 0px;
}

.navbar-inverse {
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #1abc9c;
    border-color: #16a085;
    .navbar-nav > li > a {
        color: white;
        &:hover {
            color: #222222;
        }
    }
}

.navbar-brand {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
}

.navbar-inverse {
    .navbar-brand {
        color: white;
    }
    .navbar-toggle {
        border-color: transparent;
    }
}

.progress-bar-theme {
    background-color: #1abc9c;
}

/* +++++ WRAP SECTIONS +++++ */

.ww {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #f2f2f2;
    ul {
        list-style: disc;
        li {
            line-height: 2em;
            font-size: 1.3em;
            text-align: left;
        }
    }
}

#footer {
    background-color: #2f2f2f;
    padding-top: 50px;
    padding-bottom: 50px;
    p {
        color: white;
    }
    h4 {
        color: white;
        text-transform: uppercase;
        padding-bottom: 20px;
    }
}

/* +++++ Color Wraps / Blog Page +++++ */

#grey {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f2f2f2;
}

#white {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
}

/* glyphicon Configuration */

.glyphicon {
    font-size: 40px;
    color: #1abc9c;
}

/* Custom styles (ma styles) */

main {
    width: 100%;
    div.topTrends {
        width: 60%;
        font-size:1.3em;
        margin: 0 auto;
        background:#66757f;
        color:#fff;
        ol {
            list-style:decimal !important;
            margin:0 auto;
            width:300px;
            li {
                text-align:left;
            }
        }
    }
    .geocomplete,.switchoverlay {
        background: #445;
        padding: 1em;
        #find {
            height: 34px;
        }
    }
    .map-wrapper {
        .canvas,.console {
            min-height: 650px;
        }
        .console {
            ul.live-tweets {
                max-height: 640px;
                overflow-y: scroll;
                overflow-x: hidden;
                li {
                    border-radius: 15px;
                    padding: 1.2em;
                    margin: 1em;
                    border: 1px solid #e2e2e2;
                    background-color: #f2f2f2;
                    &:after {
                        content: ' ';
                        display: table;
                        visibility: hidden;
                        height: 0;
                        clear: both;
                    }
                    span.tweet-avatar {
                        float: left;
                        a {
                            display: block;
                            img {
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                    span.tweet-content, span.tweet-author {
                        display: block;
                        left: 10px;
                        position: relative;
                    }
                    span.tweet-content {
                        color: #292F33;
                        padding: .1em;
                    }
                    span.tweet-author {
                        clear: both;
                        color: #808080;
                        margin-top: 10px;
                        padding-top: 3px;
                        border-top: 1px solid #e2e2e2;
                    }
                }
            }
        }
        div.tweet {
            width: auto;
            min-width: 300px;
            div.header {
                .avatar,.screen-name {
                    display: inline-block;
                    vertical-align: top;
                }
                .avatar a img {
                    border-radius: 25px;
                }
                div.screen-name {
                    color: #000;
                    font-size: 18px;
                    font-weight: 700;
                    margin-left: 5px;
                    span.handle,span.time-ago {
                        display: block;
                        height: 20px;
                    }
                    span.time-ago {
                        color: #8899a6;
                        font-size: 16px;
                        line-height: 2;
                    }
                }
            }
            div.body {
                color: #292F33;
                font-weight: 400;
                font-size: 16px;
                /*border-bottom:1px solid #e2e2e2;*/
                p {
                    white-space: pre-wrap;
                    width: 340px;
                    line-height: 1.4;
                    border: 1px solid #e2e2e2;
                    border-radius: 10px;
                    padding: 10px;
                    background: #F8F8F8;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
                a {
                    color: #87C5FF;
                }
            }
            div.footer {
                color: #666;
                display: none;
            }
        }
    }
}