@{
    ViewBag.Title = "News Before It Happens: Twitter Real-time Data Visualisation";
}
<div class="geocode">
    <input type="text" placeholder="Search town, city or postcode" id="autocomplete"/>
    <input type="submit" id="search" value="Search" />
</div>
<div class="map-wrapper">
    <div id="map-canvas"></div>
</div>
<div class="sky-tabs sky-tabs-pos-top-left sky-tabs-anim-flip sky-tabs-response-to-icons">
    <input type="radio" name="sky-tabs" checked="" id="sky-tab1" class="sky-tab-content-1">
    <label for="sky-tab1"><span><span><i class="fa fa-terminal"></i>Tweet Console</span></span></label>

    <input type="radio" name="sky-tabs" id="sky-tab2" class="sky-tab-content-2">
    <label for="sky-tab2"><span><span><i class="fa fa-twitter"></i> Calculated Trends</span></span></label>

    <ul>
        <li class="sky-tab-content-1">
            <div class="typography">
                <h1>Live Tweets</h1>
                <ul class="live-tweets"></ul>
            </div>
        </li>

        <li class="sky-tab-content-2">
            <div class="typography">
                <h1>We have found 4 Trends for this area:</h1>
                <p>No Trends yet.</p>
            </div>
        </li>
    </ul>
</div>