@{
    ViewBag.Title = "News Before It Happens: Twitter Real-time Data Visualisation";
}
<div class="geocode">
    <input type="text" placeholder="Search town, city or postcode" id="autocomplete"/>
    <input type="submit" id="search" value="Search" />
</div>
<div id="map-canvas"></div>
<ul class="tabs">
    <li><a href="#trends">Trends</a></li>
    <li><a href="#console">Tweets</a></li>
</ul>
<div class="tab" id="trends">
    <h2>Trends for London</h2>
</div>
<div class="tab" id="console">
    <h2>Console</h2>
</div>