@{
    ViewBag.Title = "News Before It Happens: Twitter Real-time Data Visualisation";
}
<div class="container-fluid">
    <div class="row geocomplete">
        <div class="col-xs-8">
            <div class="input-group">
                <input type="text" id="autocomplete" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="find" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div><!-- /input-group -->
        </div>
        <div class="col-xs-4">
            <span class="pull-right">
                <button type="button" id="startStream" class="btn btn-success" disabled="disabled">
                Start Stream
                <span class="progress"></span>
                </button>
                <button type="button" id="stopStream" class="btn btn-danger">
                Stop Stream
                <span class="progress"></span>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="container-fluid map-wrapper">
    <div class="row">
        <div class="canvas col-md-8" id="map-canvas"></div>
        <div class="console col-md-4">
            <ul class="live-tweets"></ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row switchoverlay">
        <div class="col-lg-12">
            <button type="button" id="switch" class="btn btn-default">Switch to Trends</button>
        </div>
    </div>
</div>
<div class="ww">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered">
                <i class="fa fa-info-circle fa-4x"></i>
                <h1>How the map works</h1>
                <ul>
                    <li>The Twitter Streaming API broadcasts a live json stream to this website, and the application programatically filters and sorts the new tweets and conducts pattern analysis on them to find any potential trends.</li>
                    <li>The server broadcasts real-time tweets and trends to the map canvas. If the user has not performed any form of dragging action or hasn't entered their address into the autocomplete, then the tweets and trends displayed are representative of what's going on nationwide.</li>
                    <li>If the user drags, completes the geolocator, or in any way affects the bounding box of the map, the tweets and trends are then made contextual. The amount of tweets transmitted for a small geographical area should be far less than in the nationwide view.</li>
                </ul>
            </div><!-- /col-lg-8 -->
        </div><!-- /row -->
</div><!-- /ww -->

<div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Error</h4>
            </div>
            <div class="modal-body">
                <p class="errorMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>