@{
    ViewBag.Title = "Interstitial";
    Layout = "";
}
<link rel="stylesheet" href="~/css/login.css"/>

<div class="container">
    <div class="login">
        <a href="~/OAuth/Authorize"><img src="~/img/signin.png" alt="Login with Twitter" /></a>
    </div>
</div>

