@{
    ViewBag.Title = "Login";
    Layout = "";
}
<link href="~/css/login.css" rel="stylesheet"/>
<a title="Login with Twitter" href="~/Map/Authorize"><img src="~/img/signin.png" alt="Login with Twitter"/></a>